/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/variables-dark";
@import 'bootstrap-icons/font/bootstrap-icons';

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

// override canvas height and bg color
.offcanvas {
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-bg: #1861ac;
}

// Override accordion icons
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3e%3c/svg%3e");
}

.accordion-item .accordion-button {
  color: white;
  background-color: mediumseagreen;

  &:focus, &:not(.collapsed) {
    background-color: mediumseagreen;
  }
}

.submenu {
  .accordion-button {
    background-color: yellowgreen;

    &:focus, &:not(.collapsed) {
      background-color: yellowgreen;
    }
  }

  .accordion-collapse {
    background-color: whitesmoke;
    color: $primary;
  }
}
