/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/variables";
@import 'bootstrap-icons/font/bootstrap-icons';
/*@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/
/*
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/
code {
  color: #e01a76;
}
/*
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/
// override canvas config
.offcanvas {
  --bs-offcanvas-bg: #1861ac;
}
/*
input, select, select option, textarea {
  &.form-control, &.form-control:focus {
    color: black;
  }
}*/

.ng-submitted input.ng-invalid + label {
  border-color: $danger;
}

a:not(.btn) .bi {
    font-size: 1.2rem;
}
/*
a:not(.btn) i.bi {
    color: $blue-300;
}
*/

ul.list-group.list-group-striped li:nth-of-type(odd) {
  background-color: var(--bs-list-group-action-hover-bg);
}
