<h1>
  Welcome<i class="bi bi-exclamation-lg"></i>
  <a href="/swagger" target="_blank" class="ms-2">
    <i class="bi bi-filetype-xml"></i>
  </a>
  <a href="/healthchecks-ui" target="_blank" class="ms-2">
    <i class="bi bi-bandaid"></i>
  </a>
</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/' target="_blank">ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/' target="_blank">Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/' target="_blank">Bootstrap</a> for layout and styling</li>
  <li><a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a></li>
  <li><a href="https://primeng.org/setup" target="_blank">PrimeNG</a></li>
</ul>

<!-- TODO
  Recent activity
  Handloads without results
-->
