
<ng-container *ngIf="{ reload: reload$ | async, lookups: lookups$ | async } as data">
    <div *ngIf="data.reload && data.lookups" class="container">
        <div class="row align-items-center">
            <h1 class="col my-4 text-truncate">{{ getTitle(data.reload, data.lookups) }}</h1>

            <div class="col-auto">
                <div class="btn-group">
                    <a class="btn btn-primary" routerLink="/reloads/edit/{{ data.reload.reloadId }}">
                        <i class="bi bi-pencil-fill"></i>
                        Edit
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" routerLink="/reload/clone">
                                <i class="bi bi-node-plus-fill"></i>
                                Clone
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/results/edit/add" [queryParams]="{ reloadId: data.reload.reloadId }">
                                <i class="bi bi-journal-plus"></i>
                                Add result
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Bullet</div>
                    <div class="col-md-8 col">
                        {{ data.reload.bullet.weight }} gr
                        {{ data.reload.bullet.brand }}
                        {{ data.lookups.calibers[data.reload.bullet.caliber] }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Bullet Construction</div>
                    <div class="col-md-8 col">{{ data.lookups.bulletConstructions[data.reload.bullet.construction] }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Bullet Tip</div>
                    <div class="col-md-8 col">{{ data.lookups.bulletTipTypes[data.reload.bullet.tipType] }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Bullet Base</div>
                    <div class="col-md-8 col">{{ data.lookups.bulletBaseTypes[data.reload.bullet.baseType] }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Powder</div>
                    <div class="col-md-8 col">{{ data.reload.powderCharge }} gr {{ data.reload.powder }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Casing</div>
                    <div class="col-md-8 col">
                        {{ data.reload.casing.brand }}
                        {{ data.lookups.cartridges[data.reload.casing.cartridge] }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Overall Length</div>
                    <div class="col-md-8 col">{{ data.reload.overallLength | number: '1.2-4' }} in</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Primer</div>
                    <div class="col-md-8 col">
                        {{ data.lookups.primerManufacturers[data.reload.primer.brand] }}
                        {{ data.lookups.primerTypes[data.reload.primer.type] }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bold">Notes</div>
                    <div class="col-md-8 col">{{ data.reload.notes }}</div>
                </div>
            </li>
        </ul>

        <!--<pre>{{ data.lookups | json }}</pre>-->
        <!-- TODO: list results for reload -->
    </div>

    <!-- TODO: move to component -->
    <div class="container my-3" *ngIf="firearms$ | async as firearms">
        <h2>Firearms for cartridge</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Firearm</th>
                    <th scope="col">Nickname</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let firearm of firearms">
                    <td>{{ firearm.name }}</td>
                    <td>{{ firearm.nickname }}</td>
                    <td>
                        <a routerLink="/results/edit/add" [queryParams]="{ reloadId: reloadId, firearmId: firearm.firearmId }">
                            <i class="bi bi-clipboard-plus-fill" title="Add result"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<!-- TOOD:
  create clone function
  reload tags: high velocity, hunting, target, etc
-->
