<h1 class="mb-4" id="tableHeader">
    My Reloads

    <a class="btn btn-primary float-end" routerLink="/reloads/edit/add">
        <i class="bi bi-plus-lg"></i>
        Add
    </a>
</h1>

<ng-container *ngIf="{ reloads: reloads$ | async, lookups: lookups$ | async } as data">
    <div *ngIf="data.reloads && data.lookups">
        <table *ngIf="data.reloads.length > 0" class="table table-striped" aria-describedby="tableHeader">
            <thead>
                <tr>
                    <th class="d-none d-sm-table-cell" scope="col">Reload</th>
                    <th scope="col">Cartridge</th>
                    <th scope="col">Bullet</th>
                    <th scope="col">Powder</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let reload of data.reloads; index as i">
                    <td class="d-none d-sm-table-cell">
                        {{ reload.nickname || (reload.createdOn | date: 'longDate') }}
                    </td>
                    <td>
                        {{ data.lookups.cartridges[reload.casing.cartridge] }}
                    </td>
                    <td>
                        {{ reload.bullet.weight }} gr {{ reload.bullet.brand }}
                        <span class="d-block d-sm-inline">{{ data.lookups.bulletTipTypes[reload.bullet.tipType] }}</span>
                    </td>
                    <td>
                        {{ reload.powderCharge }} gr <span class="d-block d-sm-inline">{{ reload.powder }}</span>
                    </td>
                    <td class="text-end">
                        <a class="ms-2 d-block d-md-inline-block" routerLink="/reloads/view/{{ reload.reloadId }}">
                            <i class="bi bi-eye-fill" role="button" title="View"></i>
                        </a>
                        <a class="ms-2 d-block d-md-inline-block" routerLink="/reloads/edit/{{ reload.reloadId }}">
                            <i class="bi bi-pencil-fill" role="button" title="Edit"></i>
                        </a>
                        <a class="ms-2 d-block d-md-inline-block" routerLink="/results" [queryParams]="{ reloadId: reload.reloadId }">
                            <i class="bi bi-list-ul" role="button" title="Results"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="data.reloads.length == 0">
            No reloads yet
        </div>
    </div>
</ng-container>

<!-- TODO:
  show message when no firearms
  show tags
-->
