<h1 class="mb-4" id="tableHeader">
    Firearms

    <a class="btn btn-primary float-end" routerLink="/firearms/edit/add">
        <i class="bi bi-plus-lg"></i>
        Add
    </a>
</h1>

<table class="table table-striped" aria-describedby="tableHeader">
    <thead>
        <tr>
            <th scope="col">Gun</th>
            <th scope="col" class="d-none d-sm-table-cell">Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let firearm of firearms$ | async">
            <td>
                {{ firearm.name }}
                <span *ngIf="firearm.nickname">({{ firearm.nickname }})</span>
            </td>
            <td class="d-none d-sm-table-cell">
                {{ firearm.type }}
            </td>
            <td>
                <a class="me-2" routerLink="/firearms/{{ firearm.firearmId }}">
                    <i class="bi bi-eye-fill" role="button" title="View"></i>
                </a>
                <a class="me-2" routerLink="/firearms/edit/{{ firearm.firearmId }}">
                    <i class="bi bi-pencil-fill" role="button" title="Edit"></i>
                </a>
                <i class="bi bi-bullseye" role="button" title="Results"></i>
            </td>
        </tr>
    </tbody>
</table>

<!-- TODO:
  Link to reloads for each gun
  Breadcrumbs
  Show icon for type
  Add filter options
  Create aggregate query for view model (name, # reloads)
-->
