<h2 class="mb-4">
  My Firearms

  <button type="button" class="btn btn-primary float-end" routerLink="/firearms/edit/add">
    Create
    <i class="bi bi-plus-lg"></i>
  </button>
</h2>

<ul class="list-group list-group-flush container">
  <li class="list-group-item fw-bold">
    <div class="row">
      <div class="col">Gun</div>
      <div class="col-2">Type</div>
      <div class="col-2"></div>
    </div>
  </li>
  <li *ngFor="let firearm of firearms$ | async" class="list-group-item">
    <div class="row">
      <div class="col">
        {{ firearm.name }}
      </div>
      <div class="col-2">
        {{ firearm.type }}
      </div>
      <div class="col-2 text-end">
        <a routerLink="/firearms/{{ firearm.firearmId }}">
          <i class="bi bi-pencil-fill" role="button" title="Edit"></i>
        </a>
        <i class="bi bi-bullseye" role="button" title="Results"></i>
      </div>
    </div>
  </li>
</ul>

<!-- TODO:
  Link to handloads for each gun
  Show icon for type
  Add filter options
  Create aggregate query for view model (name, #handloads, )
-->
