<h1 class="mb-4">
  Firearms

  <a class="btn btn-primary float-end" routerLink="/firearms/edit/add">
    <i class="bi bi-plus-lg"></i>
    Add
  </a>
</h1>

<ul class="list-group list-group-flush container">
  <li class="list-group-item fw-bold">
    <div class="row">
      <div class="col">Gun</div>
    </div>
  </li>
  <li *ngFor="let firearm of firearms$ | async" class="list-group-item">
    <div class="row">
      <div class="col">
        {{ firearm.name }}
        <span *ngIf="firearm.nickname">({{ firearm.nickname }})</span>
      </div>
      <div class="col-auto">
        {{ firearm.type }}
      </div>
      <div class="col-auto">
        <a routerLink="/firearms/{{ firearm.firearmId }}">
          <i class="bi bi-eye-fill" role="button" title="View"></i>
        </a>
        <a routerLink="/firearms/edit/{{ firearm.firearmId }}">
          <i class="bi bi-pencil-fill" role="button" title="Edit"></i>
        </a>
        <i class="bi bi-bullseye" role="button" title="Results"></i>
      </div>
    </div>
  </li>
</ul>

<!-- TODO:
  Link to handloads for each gun
  Breadcrumbs
  Show icon for type
  Add filter options
  Create aggregate query for view model (name, #handloads, )
-->
